/****************Reset/config CSS*********************/
:root{
    --main-font: 'Lora';
    --font-size: 16px;
    --main-color: #F69F9F;
    --second-color: #D5CB8E;
    --font-color: #746C6C;
    /* --main-modal-color: rgba(247,222,30,0.85);
    --second-modal-color: rgba(34,34,34,0.85); */
}

html{
    box-sizing: border-box;
    font-size: var(--font-size);
    scroll-behavior: smooth;
}


*,*:before,*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: var(--main-font)!important;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

.main-color{
    color: var(--main-color);
}

.second-color{
    color: var(--second-color)
}

section{
    position: relative;
}


.container-custom{
    width: 90%;
}

/********************* NAVBAR *******************************/
.navbar{
    position: relative;
    z-index: 1500;
    /* height: 10vh; */
}

.nav-index{
    background-color: #fff;
}

.nav-about{
    background-color: #ECF2F0;
}

.nav-icon{
    display: none;
    width: 1rem;
    height: 1rem;
}

.nav-item{
    margin-right: 2.5rem;
}

.dialog{
    display:block;
}

.vector-nav{
    position: absolute;
    margin-top: -1.7rem;
    width: 100%;
    z-index: 100;
    height: 9.5vh;
}

.vector-nav__img{
    min-width: 100%!important;
    position: relative;
    height: auto;
}

.navbar-nav a{
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    text-align: left;
    transition: .2s;
}

.nav-a1:hover, .nav-a2:hover{
    font-size: 1.02rem;
    color:#d16777;
}

.nav-a5{
    transition: .2s;
}

.nav-a3:hover, .nav-a4:hover, .nav-a5:hover{
    font-size: 1.03rem;
    color:#b9a115;
}


.fas{
    font-size: 2rem;
    color: rgba(246, 159, 159, 1);
}



/********************CAROUSEL****************/
#carousel{
    position: relative;
}

.carousel-item img{
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.div-h1{
    width: 100%;
}

.h1-carousel{
    position: absolute;
    display: inline-block;
    width: 30%;
    bottom: 5rem;
    color: white;
    font-size: 3rem;
    font-style: italic;
    line-height: 4.1rem;
    letter-spacing: 0rem;
    text-align: left;
}


/***************MIDDLE*****************/

#middle{
    width: 100%;
}


#middle .row{
    justify-content: space-between;
}

#middle .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17em;
    height: 17em;
    border-radius: 15%;
    padding: 0;
    margin-top: 1rem;
}


.border{
    border: .15rem solid rgba(246,159,159,0.2)!important; 
}

#middle img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15%;
    display: block;
}

#middle h2{
    font-family: 'Lora';
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.06rem;
    letter-spacing: 0.02em;
    text-align: center;
    
}

/***************************SLIDER********************************/

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px
}
	
.slider::before,
.slider::after {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide-two {
    height: 100px;
    width: 250px;
}


/********************CARDS**********************/

.card {
    margin-top: 1rem;
    height: 9rem;
    width: 100%;
    border: .15rem solid rgba(246,159,159,0.2);
    border-radius: 1rem;
  }
  
.card-text {
    text-decoration: none; /* limpio estilos predefinidos */
    font-family: 'Lora', serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(246, 159, 159, 0.842);
  }
  
#cards .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(185, 172, 172, 1);
  }

/*******************FOOTER******************/
footer{
    position: relative;
    top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FFEEED;
}

footer h4{
    font-family: 'Lora';
    color: var(--font-color);
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    text-align: left;
    font-weight: 500;
}

footer p{
    font-family: 'Montserrat'!important;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0.01em;
    text-align: left;
    color: #B9ACAC;
}

.social img{
    height: 1.125rem;
    margin-right: .9rem;
}

.contacto div{
    display: flex;
    overflow-x: visible;
    /* margin-left:-2rem; */
}

.contacto img{
    margin-right: .5rem;
    width: 1.25rem;
    height: 1.1rem;
}

footer .col-contacto{
    margin-right: 1rem;
}

.vector-footer{
    position: relative;
    top: 3rem;
}


/******************************* ABOUT *************************************/
#about{
    margin-top:7rem!important;
}

/* #about .row{
    height: 35vh;
} */

#about h2{
    font-family: 'Lora';
    font-size: 1.625rem;
    font-style: italic;
    font-weight: 500;
    line-height: 2.125rem;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(246, 159, 159, 1);
}


#about h4{
    font-family: 'Lora'!important;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(116, 108, 108, 1);
}

#about p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgba(116, 108, 108, 1);
}


/* #about img{
    width: 85%;
    height: 80%;
} */




/*************************CATALOGO*****************************/

#celebraciones{
    margin-top: 6rem;
}

#celebraciones h2, #casamientos h2{
    font-family: 'Lora';
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
    line-height: 3.96rem;
    letter-spacing: 0em;
    text-align: left;
}

#celebraciones h3, #casamientos h3{
    font-family: 'Lora';
    font-size: 1.625rem;
    font-style: italic;
    font-weight: 500;
    line-height: 2.125rem;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(246, 159, 159, 1);
}

#celebraciones h4, #casamientos h4{
    font-family: 'Montserrat';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(116, 108, 108, 1);

}

#celebraciones p, #casamientos p, #carousel-vegan p, #carousel-savors p{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(116, 108, 108, 1);
    
}

#celebraciones h2, #celebraciones h3{
    color: rgba(246, 159, 159, 1);
}

#casamientos h2, #casamientos h3{
    color: rgba(197, 218, 209, 1);
}

#celebraciones ul p{
    margin-left: 0.8rem;
}

#celebraciones ul li:nth-child(1) div{
    background-color: #D5CB8E;
}
#celebraciones ul li:nth-child(2) div{
    background-color: #C5DAD1;
}
#celebraciones ul li:nth-child(3) div{
    background-color: #F79F9F;
}
#celebraciones ul li:nth-child(4) div{
    background-color: #FFEEED;
}

#celebraciones li, #casamientos li{
    display: flex;
    align-content: center;
    flex-direction: row;
}

#celebraciones li div, #casamientos li div{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
}

#celebraciones .row-img, #casamientos .row-img{
    height: 70%;
}

#celebraciones .row-img img, #casamientos .row-img img{
    border-radius: 15%; 
    width: 100%;
    height: 100%;
}

#celebraciones .col-4 img, #casamientos .col-4 img{
    border-radius: 15%
}

#casamientos li div{
    background-color: rgba(255, 238, 237, 1);
}


.nav-catalogo{
    background-color: #F7F5E9;
}




/*************************CAROUSELS**************************/
.span{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45%;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    left: -.9%;
    z-index: 100;
    border-radius: 100%;
    background-color: white;
    color: rgb(102, 101, 101);
}

#carousel-vegan .span:nth-of-type(2), #carousel-savors .span:nth-of-type(2){
    left: 97%;
    text-align: right;
}


#carousel-vegan__cards-container, #carousel-savors__cards-container{
    margin: 20px auto;
    display: flex;
    justify-content: left;
    background-color: #FFF;
    overflow-x: hidden;
}

#carousel-vegan_imgs::-webkit-scrollbar{
    visibility: hidden;
}

.carousel-vegan__cards, .carousel-savors__cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    background-color: rgba(246, 246, 246, 1);
    position: relative;
    border-radius: 15%;
    transition: 2s;
    margin: 1rem;
    padding-top: 2.5rem;
    left: 0rem;
}

.carousel-savors__cards  > div, .carousel-vegan__cards > div{
    width: 100%;
}

.carousel-vegan__cards{
    min-width: 22rem;
    height: 10.15rem;
}

.carousel-savors__cards{
    min-width: 16.875rem;
    height: 13.18rem;
}

.carousel-vegan__cards h4, .carousel-savors__cards h4{
    font-family: 'Lora';
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(246, 159, 159, 1);
}

.carousel-vegan__cards i, .carousel-savors__cards i{
    color: rgba(213, 203, 142, 1);
    margin-right: 1.5rem;
    width: 1.3rem;
    height: 1.13rem;
}



@media only screen and (max-width: 580px){
    
    footer .col-3{
        width: 40%;
        margin-bottom: 1.5rem;
        padding-left: 2rem;
    }


    .card{
        min-height: 7rem!important;
        height: auto!important;
    }

    .card-body{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        /* justify-content: space-betw; */
    }

    .card-body div{
        width: 100%;
        
        padding-right: auto;
    }

    .card-body img{
        height: 40%;
        margin: 0 3rem 0 1rem;
        margin-bottom: 0!important;
    }

    #cards .title, .card-text{
        text-align: left;
    }

    #cards > div{
        width: 93%;
    }

    .pedidosya{
        margin: 0!important;
    }


}

@media only screen and (max-width: 768px){
    
    #middle .box{
        width: 100%;
        height: 6rem;
        border-radius: 12%;
    }

    #middle .box h2{
        color:white;
    }

    #middle .row div:nth-child(2){
        background-color: rgba(197, 218, 209, 1);
    }

    #middle .row div:nth-child(5){
        background-color: rgba(213, 203, 142, 1);
    }

    #middle .row div:nth-child(4){
        background: rgba(246, 159, 159, 1);
    }
 
    #middle .row div:nth-child(7){
        background: rgba(255, 238, 237, 1);
        color: rgba(246, 159, 159, 1);
    }

    #middle .row div:nth-child(7) h2{
        color: rgba(246, 159, 159, 1);
    }

    #about .col-6{
        width: 100%;
    }
    
    #about .col-8{
        width: 93%;
    }

    /* #cards .card{
        height: 10rem;
    } */
}

@media only screen and (min-width: 768px){
    
    #cards .card{
        height: 10rem;
    }
}





@media only screen and (max-width: 991px){
    
    #navbarNav{
        margin:1rem 0!important;
    }

    .vector-nav{
        margin-top: -1rem;
    }

    .nav-icon{
        display:block
    }

    .navbar-nav li:nth-child(1) a, .navbar-nav li:nth-child(2) a{
        color:rgba(116, 108, 108, 1);
    }

    .navbar-nav li:nth-child(3) a, .navbar-nav li:nth-child(4) a{
        color: rgba(246, 159, 159, 1);
    }


    .carousel-item img{
        width: 100%;
        height: 28vh;
        object-fit: cover;
    }

    .h1-carousel{
        width: 60%;
    }

    #cards .card{
        height: 10rem;
    }

    .dialog{
        display: none!important
    }

    #about img{
        width: 70%;
        height: 70%;
    }

    .col-responsive{
        margin-right: 1rem;
    }

    .vector-footer{
        top:0!important;
    }
}

@media only screen and (max-width: 1200px){
    .vector-footer{
        top:2em;
    }
}
