/****************Reset/config CSS*********************/
:root{
    --main-font: Lora;
    --font-size: 16px;
    --main-color: #F69F9F;
    --second-color: #D5CB8E;
    --font-color: #746C6C;
    /* --main-modal-color: rgba(247,222,30,0.85);
    --second-modal-color: rgba(34,34,34,0.85); */
}

html{
    box-sizing: border-box;
    font-size: var(--font-size);
    scroll-behavior: smooth;
}


*,*:before,*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: var(--main-font)!important;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

.main-color{
    color: var(--main-color);
}

.second-color{
    color: var(--second-color)
}


/********************* NAVBAR *******************************/

.navbar{
    background-color: #fff;
    position: relative;
    z-index: 1500;
}

.nav-dialog{
    width: 1rem;
    height: 1rem;
}

.vector-nav{
    position: absolute;
    margin-top: -2.5rem;
    width: 100%;
    z-index: 1000;
}

.vector-nav__img{
    min-width: 100%!important;
}

.navbar-nav a{
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    text-align: left;

}

/********************CAROUSEL****************/
.h1-carousel{
    position: absolute;
    width: 30%;
    bottom: 5rem;
    color: white;
    font-size: 3rem;
    font-style: italic;
    line-height: 4.1rem;
    letter-spacing: 0rem;
    text-align: left;
}


/***************MIDDLE*****************/

#middle{
    width: 100%;
}


#middle .row{
    justify-content: space-between;
}

#middle .col-3{
    display: relative;
    width: 19rem;
    height: 19rem;
    border: .15rem solid rgba(246,159,159,0.2);
    border-radius: 15%;
    padding: 0;
}


#middle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
}

#middle h2{
    position: absolute;
    display: inline;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}



/*******************FOOTER******************/
footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FFEEED;
}

footer h4{
    font-family: Lora;
    color: var(--font-color);
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    text-align: left;
    font-weight: 500;
}

footer p{
    font-family: Montserrat!important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #B9ACAC;
}

.social img{
    height: 1.125rem;
    margin-right: .9rem;
}

.contacto div{
    display: flex;
}

.contacto img{
    margin-right: .5rem;
    width: 1.25rem;
    height: 1.1rem;
}